<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jaka_zu7">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import jaka_zu7 urdf file -->
    <xacro:include filename="$(find jaka_description)/urdf\jaka_zu7.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="jaka_zu7.ros2_control.xacro" />


    <xacro:jaka_zu7_ros2_control name="JakaSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
